<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
 <!--김예은 시작 ================================================ -->
	<select id="selectLogin" resultMap="bMemberResultSet">
  			<!--암호화 전 로그인 방식 -->
  		select *
  		from MEMBER_INFO
  		where MEMBER_ID=#{memberId}
  		      and member_pwd=#{member_pwd}
  		      and member_status='Y' 
  		      
  	</select>
  	
  	<resultMap type="Member" id="bMemberResultSet">
  		<id property="memberId" column="MEMBER_ID"/>
  		<result property="member_pwd" column="MEMBER_PWD"/>
  		<result property="member_name" column="MEMBER_NAME"/>
  		<result property="phone" column="PHONE"/>
  		<result property="email" column="EMAIL"/>
  		<result property="gender" column="GENDER"/>
  		<result property="member_enroll" column="MEMBER_ENROLL"/>
  		<result property="member_status" column="MEMBER_STATUS"/>
  		<result property="member_birth" column="MEMBER_BIRTH"/>
  		<result property="auth_code" column="AUTH_CODE"/>
  	</resultMap>

  	<insert id="memberInsert"  >
  		insert into member_info
  		values(#{memberId}, #{member_pwd}, #{member_name}, #{phone}, #{email},
  				 #{gender}, sysdate, default, #{member_birth}, #{auth_code})
  	</insert>
   
   <!-- 아이디 중복확인 -->
   <select id="checkidDup"  resultType="_int">
  		select count(*)
  		from member_info
  		where MEMBER_ID=#{memberId}
  	</select>
  	
   <!-- 아이디 찾기 -->
   <select id="selectId" resultMap="bMemberResultSet">
   		select *
   		from member_info
   		where member_name=#{member_name} and  phone=#{phone} and member_status='Y'
   </select>
   
   <!-- 비밀번호 찾기 및 수정 -->
   <select id="selectPwd" resultMap="bMemberResultSet">
   		select *
   		from member_info
   		where MEMBER_ID=#{memberId} and email=#{email} and member_status='Y'
   </select>

   <!-- 회원정보 수정 시 비밀번호 -->
   <select id="infoPwd" resultMap="bMemberResultSet">
   		select *
  		from MEMBER_INFO
  		where
  			  MEMBER_ID=#{memberId}
  		      and member_status='Y' 
   </select>
   
   <!-- 일반 회원정보 수정 -->
   <update id="minfoUpdate">
   		update member_info
   		set member_name=#{member_name}, phone=#{phone}, email=#{email}, 
   			gender=#{gender}, member_birth=#{member_birth}, member_status=default
   		where MEMBER_ID=#{memberId}
   </update>
   
   <update id="deleteMember">
   	update member_info
   	set member_status='N'
   	where MEMBER_ID=#{memberId}
   </update>
   
	<update id="pwdUpdate">
		update member_info
		set member_pwd=#{newPwd}
		where MEMBER_ID=#{memberId}
	</update>
	
	<update id="cancelShop">
		update reserve_info
		set reserve_status='N'
		where RESERVE_NO=#{reserveNo}
	</update>


<!--김예은 끝 ================================================= -->

</mapper>
